{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            {% if post.title == "" or post.title is None %}
                <h2><a href="{% url 'post_detail' pk=post.pk %}">Title is null</a></h2>
            {% else %}
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            {% endif %}
            <div class="date">
                <p>{{ post.created_date }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}